<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduPredict AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🎓 EduPredict AI</h1>
    <h2>Student Score Prediction System</h2>

    <form action="/predict" method="POST">

        <label>Hours Studied</label>
        <input type="number" name="hours" min="0" max="24" required>

        <label>Previous Score</label>
        <input type="number" name="previous" min="0" max="100" required>

        <label>Attendance (%)</label>
        <input type="number" name="attendance" min="0" max="100" required>

        <label>Sleep Hours</label>
        <input type="number" name="sleep" min="0" max="24" required>

        <label>Sample Papers Practiced</label>
        <input type="number" name="papers" min="0" required>

        <button type="submit">Predict Score</button>

    </form>

    {% if prediction %}
    <div class="result">
        <h2>Predicted Score</h2>
        <h1>{{ prediction }}</h1>
    </div>
    {% endif %}

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
